{% load webdesign %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}eTeach{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'fonts/genericons/genericons.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<header class="site-header">
    <div id="header-wrapper">
        <div id="logo">
            <a href="/"><img src="{% static 'images/logo-eteach-smaller.png' %}" alt="eTeach logo"></a>
        </div>
        <div id="login-form-wrapper">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ NEXT }}" />
                <ul>
                    <li>
                        <input type="text" name="username" placeholder={% trans "Usuario" %}>
                        <input id="remember-me" type="checkbox" name="remember-me">
                        <label for="remember-me">{% trans "Recuérdame" %}</label>
                    </li>
                    <li>
                        <input type="password" name="password" placeholder={% trans "Contraseña" %}>
                        <span id="forgot-password"><a href="#">{% trans "¿Olvidaste tu contraseña?" %}</a></span>
                    </li>
                    <li>
                        <button type="submit">{% trans "Entrar" %}</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</header>
<main class="site-main">
    <div id="main-wrapper">
        <div id="institution-motto-wrapper">
            <div id="institution-motto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
        <div id="institution-news-wrapper">
            <div id="institution-news" class="ui-block">
                <header class="ui-block-header">NEWS</header>
                <div class="ui-block-content">
                    <section class="news-header">Thursday, 13 March 2014</section>
                    <p class="news-content">
                        Praesent tellus erat, iaculis vitae lectus nec, rhoncus vestibulum magna. Sed molestie, risus
                        lacinia volutpat consequat, metus orci malesuada sem, vel hendrerit mi purus et sem.
                    </p>
                    <section class="news-header">Wednesday, 12 March 2014</section>
                    <p class="news-content">
                        Pellentesque erat risus, commodo quis libero nec, pretium ullamcorper mauris. Etiam sem elit,
                        vehicula in neque ac, sollicitudin fermentum justo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="site-footer">
    <div id="footer-wrapper">
        <div id="meta-info">
            <div id="copyright">© Sindrosoft {% now "Y" %}</div>
            <div id="info-links">
                <ul>
                    <li><a href="#">{% trans "TÉRMINOS DE USO" %}</a></li>
                    <li><a href="#">{% trans "ACERCA DE" %}</a></li>
                    <li><a href="#">{% trans "PRIVACIDAD" %}</a></li>
                </ul>
            </div>
        </div>
        <div id="language-selection-wrapper">
            {% get_current_language as CURRENT_LANGUAGE %}
            <select name="language" id="language">
                {% for language in LANGUAGES %}
                    {% if language.0 == CURRENT_LANGUAGE %}
                        <option selected value="{{ language.0 }}">{{ language.1 }}</option>
                    {% else %}
                        <option value="{{ language.0 }}">{{ language.1 }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
</footer>
<script src="{% static 'js/libs/jquery-2.1.0.min.js' %}"></script>
<script src="{% static 'js/libs/jquery.cookie.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/blocks.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
</body>
</html>
