/*********************************
CSS DOCUMENT

This file manages the appearance of the login screen.

Author: Lorenzo Ruiz
Version: 0.1.0


Table of Contents:

1.0 - General
2.0 - Header
3.0 - Main
4.0 - Footer

*********************************/

/**
 * GENERAL
 */
html, body {
	height: 100%;
	text-align: center;
}


/**
 * HEADER
 */
header.site-header {
	outline: 0px solid red;
	width: 100%;
	height: 100px;
	min-width: 1000px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

header.site-header #header-wrapper {

}

header.site-header #header-wrapper #logo {
	outline: 0px solid red;
	display: inline-block;
	margin: 21px 25px 21px 50px;
	float: left;
}

header.site-header #header-wrapper #logo img {
	width: 200px;
}

header.site-header #header-wrapper #login-form-wrapper {
	outline: 0px solid red;
	display: inline-block;
	float: right;
	margin: 25px 50px 25px 25px;
}

header.site-header #header-wrapper #login-form-wrapper ul {
	
}

header.site-header #header-wrapper #login-form-wrapper ul li {
	float: left;
	margin-left: 35px;
}

header.site-header #header-wrapper #login-form-wrapper ul li input {
	width: 200px;
	height: 35px;
	background-color: #eee;
	border: 1px solid #ccc;
	color: #666;
	padding: 3px 10px 0px 10px;
	font-size: 0.85em;
	display: block;
}

header.site-header #header-wrapper #login-form-wrapper ul li input[type="checkbox"] {
	width: auto;
	height: auto;
	display: inline-block;
	outline: 0px solid red;
	padding: 0px;
	margin: 10px 5px 0px 0px;
	float: left;
}

header.site-header #header-wrapper #login-form-wrapper ul li label {
	font-size: 0.85em;
	margin-top: 10px;
	color: #444;
	float: left;
}

header.site-header #header-wrapper #login-form-wrapper ul li button {
	width: 150px;
	height: 35px;
	background-color: #489dd9;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	font-family: Arial, sans-serif;
	border: 1px solid #2e7fb8;
	border-bottom: 3px solid #2e7fb8;
	padding-top: 2px;
	cursor: pointer;
}

header.site-header #header-wrapper #login-form-wrapper ul li button:hover {
	background-color: #58ade9;
}

header.site-header #header-wrapper #login-form-wrapper ul li button:active {
	background-color: #489dd9;
	border-bottom: 1px solid #2e7fb8;
}

header.site-header #header-wrapper #login-form-wrapper ul li #forgot-password {
	font-size: 0.85em;
	float: left;
	margin-top: 10px;
	color: #4a89b6;
	cursor: pointer;
}


/**
 * MAIN
 */
main.site-main{
	outline: 0px solid green;
	width: 100%;
	height: calc(100% - 250px);
	min-height: 400px;
	background-image: url('../images/blurry-class.png');
	background-size: 100%;
}

main.site-main #main-wrapper {
	width: 1000px;
	outline: 0px solid green;
	margin: auto;
	height: 100%;
}

main.site-main #main-wrapper #institution-motto-wrapper {
	width: 50%;
	height: 160px;
	float: left;
	outline: 0px solid red;
	position: relative;
	text-align: left;
	top: 50%;
	margin-top: -80px;
}

@media all and (max-width: 1024px) {
	main.site-main #main-wrapper #institution-motto-wrapper {
		top: 23%;
		margin-top: 0;		
	}
}

main.site-main #main-wrapper #institution-motto-wrapper #institution-motto {
	margin-left: 40px;
	outline: 0px solid red;
	font-size: 3.2em;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	text-align: center;
	float: right;
}

main.site-main #main-wrapper #institution-news-wrapper {
	width: 50%;
	outline: 0px solid red;
	float: right;
	top: 50%;
	margin-top: -175px;
	position: relative;
}

@media all and (max-width: 1024px) {
	main.site-main #main-wrapper #institution-news-wrapper {
		top: 15px;
		margin-top: 0;
	}
}

main.site-main #main-wrapper #institution-news {
	height: 350px;
	outline: 0px solid red;
	margin-left: 40px;
	margin-right: 40px;
}

main.site-main #main-wrapper #institution-news .ui-block-content {
	padding: 30px 40px;
}

main.site-main #main-wrapper #institution-news .news-header {
	font-weight: bold;
	margin-bottom: 1.2em;
	color: #333;
}

main.site-main #main-wrapper #institution-news .news-header:before {
	content: '\f307';
	font-family: Genericons;
	position: relative;
	top: 4px;
	font-size: 1.2em;
	font-weight: normal;
}

main.site-main #main-wrapper #institution-news .news-content {
	margin-bottom: 25px;
	line-height: 1.3em;
	font-size: 0.9em;
	color: #555;
}


/**
 * FOOTER
 */
footer.site-footer {
	outline: 0px solid blue;
	width: 100%;
	height: 150px;
	border-top: 2px solid rgba(0, 0, 0, 0.2);
}

footer.site-footer #footer-wrapper {
	
}

footer.site-footer #footer-wrapper #meta-info {
	outline: 0px solid red;
	margin: 60px 0px 0px 50px;
	float: left;
	color: #666;
	font-size: 0.9em;
}

footer.site-footer #footer-wrapper #meta-info #copyright {
	text-align: left;
	margin-bottom: 15px;
}

footer.site-footer #footer-wrapper #meta-info #info-links {
	
}

footer.site-footer #footer-wrapper #meta-info #info-links ul {
	
}

footer.site-footer #footer-wrapper #meta-info #info-links ul li {
	float: left;
	margin-right: 35px;
}

footer.site-footer #footer-wrapper #meta-info #info-links ul li a {
	color: #666;
}

footer.site-footer #footer-wrapper #language-selection-wrapper {
	outline: 0px solid red;
	float: right;
	margin: 70px 40px 0px 0px;
}

footer.site-footer #footer-wrapper #language-selection-wrapper select {
	width: 130px;
	height: 25px;
	padding: 3px 5px 0px 5px;
	background-color: rgba(0,0,0,0);
	border: 1px solid #ddd;
	border-right: 0px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

footer.site-footer #footer-wrapper #language-selection-wrapper:after {
	padding: 3px 2px 1px 3px;
	content: '\f431';
	font-family: Genericons;
	outline: 0px solid red;
	position: relative;
	top: 3px;
	left: -26px;
	background-color: #eee;
	border: 1px solid #ddd;
	border-left: 0px;
	cursor: pointer;
}