/*********************************
CSS DOCUMENT

This file manages the appearance of all the UI elements that are
general for the whole application. Buttons, inputs, fonts, etc...

Author: Lorenzo Ruiz
Version: 1.0

Table of contents:

1.0 - General
2.0 - Links
3.0 - Blocks
4.0 - Tabbed content
5.0 - Courses
6.0 - Tables
7.0 - Headings
8.0 - Buttons

*********************************/


/**
 * GENERAL
 */
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: Arial, sans-serif;
}


/**
 * LINKS
 */
a {
	text-decoration: none;
	color: #4a89b6;
}

a:hover {
	text-decoration: underline;
	color: #4a89b6;
}


/**
 * BLOCKS
 */
div.ui-block {
	overflow: hidden;
}

header.ui-block-header {
	width: 100%;
	height: calc(1.3em + 18px);
	background-color: #303030;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
	text-align: left;
	padding: 14px 15px 7px 15px;
	border: 1px solid #303030;
	border-bottom: 2px solid #101010;
	overflow: hidden;
}

.ui-block-header .ui-block-settings-icon {
	float: right;
	margin-top: -1px;
	padding: 0;
	outline: 0 solid red;
}

.ui-block-header .ui-block-settings-icon img {
	width: 18px;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.ui-block-wrapper {
	
}

.ui-block-content {
	width: 100%;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top-width: 0;
	border-bottom-width: 2px;
	overflow: hidden;
}

.ui-block-settings {
	width: 100%;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-width: 0;
    border-bottom-width: 2px;
    overflow: hidden;
    display: none;
}


/**
 * TABBED CONTENT
 */
.tabbed-content {
    width: 100%;
    float: left;
}

.tabs {
    width: 100%;
    outline: 0px solid orange;
    float: left;
    background-color: #bbb;
    padding-top: 5px;
}

.tabs ul {
    position: relative;
}

.tabs ul li {
    outline: 0px solid red;
    float: left;
    padding: 10px 10px 7px 10px;
    border-right: 1px solid #bbb;
    border-top: 1px solid #bbb;
    font-weight: bold;
    position: relative;
    top: 1px;
    z-index: 0;
    cursor: pointer;
    background-color: #eee;
}

.tabs ul li:hover {
    background-color: #fff;
}

.tabs ul li.active-tab {
    border-bottom-color: #fff;
    z-index: 2;
    background-color: #fff;
}

.tabs-content {
    width: 100%;
    float: left;
    border-top: 1px solid #bbb;
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: #fff;
}

.tabs-content > div {
    display: none;
}

.tabs-content .active-content {
    display: block;
}


/**
 * COURSES
 */
.course {
	margin-bottom: 25px;
}

.course-header {
	font-size: 1.2em;
	font-weight: bold;
	outline: 0px solid red;
	width: 100%;
	background-color: #eee;
	cursor: pointer;
}

.course-header:before {
	content: url('../images/book-icon.png');
	vertical-align: -0.38em;
	margin-right: 5px;
}

.course-header-shown:after {
	content: '\f500';
	margin: 10px 10px 0px 5px;
	font-family: Genericons;
	font-weight: normal;
	font-size: 0.6em;
	float: right;
}

.course-header-hidden:after {
	content: '\f502';
	margin: 15px 10px 0px 5px;
	font-family: Genericons;
	font-weight: normal;
	font-size: 0.6em;
	float: right;
}

.course-events {
	padding-left: 40px;
	padding-top: 15px;
	outline: 0px solid red;
}

.course-events .course-event {
	font-size: 0.89em;
	padding-bottom: 10px;
}

.course-events .go-into-course {
	text-transform: uppercase;
	margin-top: 10px;
	font-weight: bold;
}

.course-events .go-into-course:before {
	content: '\f412';
	font-family: Genericons;
	color: #4a89b6;
}

/**
 * TABLES
 */
table {
    width: 100%;
}

table thead {
    background-color: #f0f0f0;
    font-weight: bold;
    font-size: 0.8em;
    color: #666;
}

table thead tr {

}

table thead tr th {
    border: 1px solid #ddd;
    padding: 4px 7px;
}

table tbody {
    font-size: 0.85em;
}

table tbody tr:nth-child(odd){
	background-color: #f3f3ff;
}

table tbody tr:nth-child(even){
	background-color: #fff;
}

table tbody tr:hover {
    background-color: #f0f0fc;
}


table tbody tr td {
    border: 1px solid #ddd;
    padding: 4px 7px;
    cursor: default;
}

table input[type="checkbox"] {
    cursor: pointer;
}


/**
 * HEADINGS
 */
h1 {

}

h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1.2em;
}


/**
 * BUTTONS
 */
.buttons {
    float: right;
    margin: 30px 0px 20px 0px;
}

button {
    height: 25px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-bottom-width: 2px;
    background-color: #f3f3f3;
    font-weight: bold;
    padding: 4px 10px 4px 10px;
}

button:hover {
    background-color: #fff;
}

button:active {
    background-color: #f0f0f0;
    border-bottom-width: 1px;
}
