{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome to eTeach{% endblock title %}</title>
	<link rel="stylesheet" href="{% static 'fonts/genericons/genericons.css' %}">
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	{% block template_css %}{% endblock template_css %}
</head>
<body>
	<header class="site-header">
			<section class="main-header">
				<div class="header-wrapper">
					<div id="logo"><img src="{% static 'images/eteach-icon.svg' %}" alt="eTeach icon"></div>
					<div id="main-menu">
						<a href="#"><img src="{% static 'images/menu-icon.png' %}" alt="Menu icon" id="subheader"></a>
						<a href="#"><img src="{% static 'images/user-icon.png' %}" alt="User icon" id="user"></a>
						<a href="#"><img src="{% static 'images/cog-icon.png' %}" alt="Cog icon"></a>
						<div id="user-menu">
							<ul>
								<li>PROFILE</li>
								<li><a href="{% url 'logout' %}">LOG OUT</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="sub-header">
				<div class="header-wrapper">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">My Courses</a></li>
						<li><a href="#">Bookmarks</a></li>
					</ul>
					<div class="search-area">
						<input type="text" placeholder="Search...">
					</div>
				</div>
			</section>
	</header>
	<main class="site-main">
		<div id="main-wrapper">
			{% block main_content %}
				<div id="home-courses" class="ui-block">
					<header class="ui-block-header">
						COURSES
						<div class="ui-block-settings-icon">
							<img src="{% static 'images/cog-icon-ui-block.png' %}" alt="Cog icon">
						</div>
					</header>
					<div class="ui-block-wrapper">
						<div class="ui-block-content">
							<div id="courses">
								<ul>
									<li class="course">
										<section class="course-header course-header-shown">
											Seguridad en Sistemas Informáticos y en Internet
										</section>
										<section class="course-events">
											<ul>
												<li class="course-event"><a href="#">2 New announcements</a></li>
												<li class="course-event"><a href="#">1 New calification</a></li>
												<li class="course-event go-into-course">
													<a href="#">View course</a>
												</li>
											</ul>
										</section>
									</li>
									<li class="course">
										<section class="course-header course-header-shown">
											 Complementos de Bases de Datos
										</section>
										<section class="course-events">
											<ul>
												<li class="course-event"><a href="#">1 New task</a></li>
												<li class="course-event"><a href="#">3 New forum posts</a></li>
												<li class="course-event go-into-course">
													<a href="#">View course</a>
												</li>
											</ul>
										</section>
									</li>
									<li class="course">
										<section class="course-header course-header-shown">
											 Integración de Sistemas Físicos e Informáticos
										</section>
										<section class="course-events">
											<ul>
												<li class="course-event go-into-course">
													<a href="#">View course</a>
												</li>
											</ul>
										</section>
									</li>
								</ul>
							</div>
						</div>
						<div class="ui-block-settings">
                            <div class="tabbed-content">
                                <nav class="tabs">
                                    <ul>
                                        <li class="active-tab tab-1">General</li>
                                        <li class="tab-2">View</li>
                                    </ul>
                                </nav>
                                <section class="tabs-content">
                                    <div class="tab-1-content active-content">
                                        NOTHING HERE
                                    </div>
                                    <div class="tab-2-content">
                                        <h2>Edit course list</h2>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Course</th>
                                                    <th>Hide</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Seguridad en Sistemas Informáticos y en Internet</td>
                                                    <td><input type="checkbox"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Complementos de Bases de Datos</td>
                                                    <td><input type="checkbox"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Integración de Sistemas Físicos e Informáticos</td>
                                                    <td><input type="checkbox"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Ingeniería del Software y Práctica Profesional</td>
                                                    <td><input type="checkbox"/></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="buttons">
                                            <button>Save changes</button>
                                        </div>
                                    </div>
                                </section>
                            </div>
						</div>
					</div>
				</div>
			{% endblock main_content %}
		</div>
	</main>
	<footer class="site-footer"><div id="footer-wrapper"></div></footer>

	<script src="{% static 'js/libs/jquery-2.1.0.min.js' %}"></script>
	<script src="{% static 'js/blocks.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
