/*********************************
CSS DOCUMENT

This file manages the appearance of the main screen.

Author: Lorenzo Ruiz
Version: 0.1.0


Table of Contents:

1.0 - General
2.0 - Header
3.0 - Main
4.0 - Footer

*********************************/


/**
 * GENERAL
 */
html {
	background-color: #efefef;
}


/**
 * HEADER
 */
header.site-header {
	width: 100%;
	height: auto;
	outline: 0px solid red;
}

header.site-header .header-wrapper {
	width: 1000px;
	height: auto;
	margin: auto;
	outline: 0px solid orange;
}

header.site-header .main-header {
	height: 52px;
	outline: 0px solid orange;
	background-color: #489dd9;
	border-bottom: 2px solid #3c6691;
}

header.site-header .main-header #logo {
	width: 40px;
	height: 40px;
	outline: 0px solid red;
	margin: 12px 0px 0px 0px;
	float: left;
}

header.site-header .main-header #logo img {
	width: 40px;
	cursor: pointer;
}

header.site-header .main-header #main-menu {
	outline: 0px solid red;
	margin: 10px 0px 0px 0px;
	float: right;
}

header.site-header .main-header #main-menu #user-menu {
	outline: 0px solid red;
	position: absolute;
	z-index: 1;
	display: none;
}

header.site-header .main-header #main-menu #user-menu ul {
	width: 100px;
	min-width: 100px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	font-size: 0.9em;
	padding: 0px 15px 10px 15px;
	font-weight: bold;
	margin-top: 9px;
}

header.site-header .main-header #main-menu #user-menu li {
	padding-top: 10px;
	cursor: pointer;
}

header.site-header .main-header #main-menu img {
	margin-left: 10px;
}

header.site-header .sub-header {
	height: 50px;
	outline: 0px solid purple;
	background-color: #287db9;
	border: 1px solid #095992;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
}

header.site-header .sub-header .header-wrapper {
	width: 920px;
	height: 50px;
	outline: 0px solid red;
	margin: auto;
}

header.site-header .sub-header li {
	float: left;
	margin-right: 20px;
	margin-top: 13px;
	color: #fff;
	font-size: 1.3em;
}

header.site-header .sub-header li a {
	color: #fff;
	vertical-align: middle;
	outline: 0px solid red;
}

header.site-header .sub-header li:hover {
	color: #fff;
	-moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	text-decoration: none;
	margin-top: 12px;
}

header.site-header .sub-header li a:hover {
	color: #fff;
	text-decoration: none;
}

header.site-header .sub-header .search-area {
	float: right;
}

header.site-header .sub-header .search-area  input{
	width: 250px;
	height: 30px;
	background-color: #eee;
	border: 1px solid #ccc;
	color: #666;
	padding: 3px 10px 0px 10px;
	font-size: 0.85em;
	display: block;
	margin-top: 9px;
}


/**
 * MAIN
 */
main.site-main {
	width: 100%;
	height: 250px;
	outline: 0px solid green;
}

main.site-main #main-wrapper {
	width: 920px;
	margin: auto;
}

main.site-main #main-wrapper #home-courses {
	margin-top: 40px;
}

main.site-main #main-wrapper #home-courses #courses {
	width: 100%;
	outline: 0px solid red;
	padding: 30px 40px;
	position: relative;
}


/** 
 * FOOTER
 */
footer.site-footer {
	
}

footer.site-footer #footer-wrapper {

}